@charset "utf-8";

@import "toolkit";
@import "basekit";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.logo {
  //@include retina-bg(volta);
  width: image-width("volta.png");
  height: image-height("volta.png");
  margin: 0 0 6rem;
}
