// Semantic light colors
$success-color-light:  tint($success-color, $tint-factor);
$warning-color-light:  tint($warning-color, $tint-factor);
$danger-color-light:   tint($danger-color,  $tint-factor);
$notice-color-light:   tint($notice-color,  $tint-factor);

// Semantic dark colors
$success-color-dark:  shade($success-color, $shade-factor);
$warning-color-dark:  shade($warning-color, $shade-factor);
$danger-color-dark:   shade($danger-color,  $shade-factor);
$notice-color-dark:   shade($notice-color,  $shade-factor);


@function dark-color($shade) {
  @return rgba($dark-color, map-get($dark-shades, $shade));
}
@function light-color($shade) {
  @return rgba($dark-color, map-get($light-shades, $shade));
}

// Dark theme colors
$dark-color-primary:    dark-color(primary);
$dark-color-secondary:  dark-color(secondary);
$dark-color-icon:       dark-color(icon);
$dark-color-hint:       dark-color(hint);
$dark-color-divider:    dark-color(divider);

// Light theme colors
$light-color-primary:   light-color(primary);
$light-color-secondary: light-color(secondary);
$light-color-icon:      light-color(icon);
$light-color-hint:      light-color(hint);
$light-color-divider:   light-color(divider);


$white-color:       #FFFFFF !default;
$brand-color-light: tint($brand-color, 80%) !default;
$brand-color-dark:  shade($brand-color, 30%) !default;


@include export-once("schema") {
  @if $include-html-schema-classes {

    .bg-darkest       { background-color: $darkest-tone; }
    .bg-darker        { background-color: $darker-tone; }
    .bg-dark          { background-color: $dark-tone; }
    .bg-light         { background-color: $light-tone; }
    .bg-lighter       { background-color: $lighter-tone; }
    .bg-lightest      { background-color: $lightest-tone; }

    .bg-white         { background-color: $white-color; }

    .bg-primary       { background-color: $brand-color; }
    .bg-primary-light { background-color: $brand-color-light; }
    .bg-primary-dark  { background-color: $brand-color-dark; }

    .bg-success       { background-color: $success-color; }
    .bg-warning       { background-color: $warning-color; }
    .bg-danger        { background-color: $danger-color; }
    .bg-notice        { background-color: $notice-color; }

    .bg-success-light { background-color: $success-color-light; }
    .bg-warning-light { background-color: $warning-color-light; }
    .bg-danger-light  { background-color: $danger-color-light; }
    .bg-notice-light  { background-color: $notice-color-light; }

    .bg-success-dark  { background-color: $success-color-dark; }
    .bg-warning-dark  { background-color: $warning-color-dark; }
    .bg-danger-dark   { background-color: $danger-color-dark; }
    .bg-notice-dark   { background-color: $notice-color-dark; }

  }
}
