$shades: (
  divider:   .12, // Dividers
  hint:      .26, // Hint text
  icon :     .54, // Icons
  secondary: .60, // Secondary text
  primary:   .87, // Primary Text
) !default;

@function shade($name) {
  @return map-get($shades,$name);
}

@function color-shade($color,$shade) {
  @return rgba($color,shade($shade));
}
@function   primary-color($color) { @return color-shade($color,primary); }
@function secondary-color($color) { @return color-shade($color,secondary); }
@function      icon-color($color) { @return color-shade($color,icon); }
@function      hint-color($color) { @return color-shade($color,hint); }
@function   divider-color($color) { @return color-shade($color,divider); }



$themes: (
  light:   $darker-tone,
  dark :   $white-color,
) !default;

@mixin theme-classes($name) {
  $color: map-get($themes,$name);
  &                    { color: color-shade($color, primary); }
  .divider, hr         { color: color-shade($color, divider); }
  .hint, .disabled     { color: color-shade($color, hint); }
  .icon, i             { color: color-shade($color, icon); }
  .primary             { color: color-shade($color, primary); }
  .caption, .secondary { color: color-shade($color, secondary); }
  .solid               { color: $color; }
}

@include export-once("themes") {
  @if $include-html-themes-classes {
    .light { @include theme-classes(light); }
    .dark  { @include theme-classes(dark); }
  }
}

