// Base colors
$primary-color: #0F4E6C !default;
$accent-color:  #6737DA !default;

// Base tones
$darkest-tone:  #131B26 !default;
$darker-tone:   #1F2938 !default;
$dark-tone:     #4D5766 !default;
$light-tone:    #C0C7D1 !default;
$lighter-tone:  #D5DBE3 !default;
$lightest-tone: #F0F3F7 !default;

// Semantic colors
$success-color: #24B36B !default;
$warning-color: #FFBB27 !default;
$danger-color:  #C60025 !default;
$notice-color:  #3DB4CC !default;
