$container-width: 90% !default;
$container-max-width: 960px !default;

@mixin make-row() {
  @include clearfix;
  position: relative;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding: $gutter;
  // Comentado por ahora, oculta el .magnify
  // overflow: auto;
}


@include export-once("grid") {

  @if $include-grid-classes {
    .container { @include make-row; }
  }

}
