$upper-shadow-color: $darker-tone !default;
$lower-shadow-color: $darkest-tone !default;

$shadows: (
  1: (
    upper: ( offset: 1px, blur: 1.5px, color: rgba($upper-shadow-color, 0.12) ),
    lower: ( offset: 1px, blur:   1px, color: rgba($lower-shadow-color, 0.24) ),
  ),
  2: (
    upper: ( offset: 3px, blur: 3px, color: rgba($upper-shadow-color, 0.16) ),
    lower: ( offset: 3px, blur: 3px, color: rgba($lower-shadow-color, 0.23) ),
  ),
  3: (
    upper: ( offset: 10px, blur: 10px, color: rgba($upper-shadow-color, 0.19) ),
    lower: ( offset:  6px, blur:  3px, color: rgba($lower-shadow-color, 0.23) ),
  ),
  4: (
    upper: ( offset: 14px, blur: 14px, color: rgba($upper-shadow-color, 0.25) ),
    lower: ( offset: 10px, blur:  5px, color: rgba($lower-shadow-color, 0.22) ),
  ),
  5: (
    upper: ( offset: 19px, blur:  19px, color: rgba($upper-shadow-color, 0.30) ),
    lower: ( offset: 15px, blur:   6px, color: rgba($lower-shadow-color, 0.22) ),
  ),
);

@function shadow($depth, $direction: bottom) {
  $upper-positions: null;
  $lower-positions: null;

  $upper-offset: map-deep-get($shadows, $depth, upper, offset);
  $upper-blur:   map-deep-get($shadows, $depth, upper, blur);
  $upper-color:  map-deep-get($shadows, $depth, upper, color);
  $lower-offset: map-deep-get($shadows, $depth, lower, offset);
  $lower-blur:   map-deep-get($shadows, $depth, lower, blur);
  $lower-color:  map-deep-get($shadows, $depth, lower, color);

  @if      $direction == top    { $upper-positions: 0 -($upper-offset); $lower-positions: 0 -($lower-offset); }
  @else if $direction == right  { $upper-positions: ($upper-offset)  0; $lower-positions: ($lower-offset)  0; }
  @else if $direction == bottom { $upper-positions: 0  ($upper-offset); $lower-positions: 0  ($lower-offset); }
  @else if $direction == left   { $upper-positions: -($upper-offset) 0; $lower-positions: -($lower-offset) 0; }
  @else { @error "'#{$direction}' isn't a valid value for $direction"; }

  $upper-shadow: $upper-positions $upper-blur $upper-color;
  $lower-shadow: $lower-positions $lower-blur $lower-color;

  @return $upper-shadow, $lower-shadow;
}

@mixin shadow-directions($depth) {
  &-top       { box-shadow: shadow($depth, top   ); }
  &-right     { box-shadow: shadow($depth, right ); }
  &, &-bottom { box-shadow: shadow($depth, bottom); }
  &-left      { box-shadow: shadow($depth, left  ); }
}

@include export-once("shadows") {
  @if $include-shadows-addon {
    .shadow-1 { @include shadow-directions(1); }
    .shadow-2 { @include shadow-directions(2); }
    .shadow-3 { @include shadow-directions(3); }
    .shadow-4 { @include shadow-directions(4); }
    .shadow-5 { @include shadow-directions(5); }
  }
}
