-# BASE
%meta{ charset: "utf-8" }

-# Always force latest IE rendering engine or request Chrome Frame
%meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
-# Activate ClearType technology for smoothing fonts for easy reading in mobile IE
%meta{ "http-equiv" => "cleartype", content: "on" }

%meta{ name: "description", content: "#{data.config.description}" }
%meta{ name: "keywords",    content: "#{data.config.keywords}" }
%meta{ name: "author",      content: "#{data.config.author}" }

%title= data.config.title

-# SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page
-# %link{ rel: "canonical", href: "http://www.cristianferrari.com/" }
