.magnify {
  & {
    width: 100%;
    margin: 0px auto;
    position: relative;
  }

  img {
    width: 100%;
  }

  .caption {
    background-color: black;
    display: inline;
    padding: 3px 6px;
    border-radius: 3px;
  }

  .large {
    $base-color: #86008F;
    $grid-color: rgba(black,.1);
    $control-size: 170px;
    // Lets create the magnifying glass
    width: $control-size;
    height: $control-size;
    line-height: $control-size;
    position: absolute;
    border-radius: 100%;

    // Multiple box shadows to achieve the glass effect
    box-shadow:
      0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

    text-align: center;
    color: white;
    background: #86008F; // Lets load up the large image first



    background-color: $base-color;
    background-image:
      linear-gradient($grid-color 1px, transparent 1px),
      linear-gradient(90deg, $grid-color 1px, transparent 1px);

    background-size: 20px 20px, 20px 20px;
    background-position: -5px -5px, -5px -5px;

    display: none; // hide the glass by default
  }

  // To solve overlap bug at the edges during magnification
 .small { display: block; }

}


.followpointer {
  width: 800px;
  margin: 0px auto;
  position: relative;
}

/*To solve overlap bug at the edges during magnification*/
.followpointer-area {
  display: block;
}

.followpointer-content {
  width: 175px;
  position: absolute;
  background-color: red;
  padding: 20px;
  color: white;
  /*hide the glass by default*/
  display: none;
}
