// FIXME: Tratar de mejorar esto
$tint-factor:   70% !default; // Used for -light version of colors. ex: `$succes-color-light`
$shade-factor:  30% !default; // Used for -dark version of colors. ex: `$warning-color-dark`



// Base light and dark colors
$primary-color-light:  tint($primary-color, $tint-factor);
$primary-color-dark:  shade($primary-color, $shade-factor);

$accent-color-light:   tint($accent-color,  $tint-factor);
$accent-color-dark:   shade($accent-color,  $shade-factor);

// Semantic light and dark colors
$success-color-light:  tint($success-color, $tint-factor);
$success-color-dark:  shade($success-color, $shade-factor);

$warning-color-light:  tint($warning-color, $tint-factor);
$warning-color-dark:  shade($warning-color, $shade-factor);

$danger-color-light:   tint($danger-color,  $tint-factor);
$danger-color-dark:   shade($danger-color,  $shade-factor);

$notice-color-light:   tint($notice-color,  $tint-factor);
$notice-color-dark:   shade($notice-color,  $shade-factor);



@include export-once("schema") {
  @if $include-html-schema-classes {

    .bg-darkest       { background-color: $darkest-tone; }
    .bg-darker        { background-color: $darker-tone; }
    .bg-dark          { background-color: $dark-tone; }
    .bg-light         { background-color: $light-tone; }
    .bg-lighter       { background-color: $lighter-tone; }
    .bg-lightest      { background-color: $lightest-tone; }

    .bg-white         { background-color: $white-color; }

    .bg-primary       { background-color: $primary-color; }
    .bg-primary-light { background-color: $primary-color-light; }
    .bg-primary-dark  { background-color: $primary-color-dark; }

    .bg-accent        { background-color: $accent-color; }
    .bg-accent-light  { background-color: $accent-color-light; }
    .bg-accent-dark   { background-color: $accent-color-dark; }

    .bg-success       { background-color: $success-color; }
    .bg-success-light { background-color: $success-color-light; }
    .bg-success-dark  { background-color: $success-color-dark; }

    .bg-warning       { background-color: $warning-color; }
    .bg-warning-light { background-color: $warning-color-light; }
    .bg-warning-dark  { background-color: $warning-color-dark; }

    .bg-danger        { background-color: $danger-color; }
    .bg-danger-light  { background-color: $danger-color-light; }
    .bg-danger-dark   { background-color: $danger-color-dark; }

    .bg-notice        { background-color: $notice-color; }
    .bg-notice-light  { background-color: $notice-color-light; }
    .bg-notice-dark   { background-color: $notice-color-dark; }

  }
}
