// Normalize.scss settings
// Set to false if you want to drop support for IE6 and IE7
// $legacy_browser_support: false !default;

$include-html-styles:             true !default;
$include-html-classes:            true !default;

$include-html-scaffold-styles:    $include-html-styles !default;
$include-html-typography-styles:  $include-html-styles !default;

$include-html-typography-classes: $include-html-classes !default;
$include-html-utilities-classes:  $include-html-classes !default;
$include-html-schema-classes:     $include-html-classes !default;
$include-html-themes-classes:     $include-html-classes !default;
$include-html-buttons-classes:    $include-html-classes !default;
$include-html-shadows-classes:    $include-html-classes !default;
$include-html-brand-classes:      $include-html-classes !default;
