// Normalize.scss settings
// Set to false if you want to drop support for IE6 and IE7
// $legacy_browser_support: false !default;

$include-html-reset:              true  !default;
$include-html-styles:             false !default;
$include-html-classes:            false !default;


// BASE
$include-html-reset-styles:       $include-html-reset   !default;
$include-html-scaffold-styles:    $include-html-styles  !default;
$include-html-typography-styles:  $include-html-styles  !default;

$include-html-schema-classes:     $include-html-classes !default;
$include-html-themes-classes:     $include-html-classes !default;
$include-html-typography-classes: $include-html-classes !default;
$include-html-grid-classes:       $include-html-classes !default;
$include-html-utilities-classes:  $include-html-classes !default;


// ADDONS
$include-html-shadows-classes:    $include-html-classes !default;


// COMPONENTS
