// Based on Bitters typography

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  //line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  //font-size: $base-font-size;
  //line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


$typography: (
  display4: ( font-size: 112px, font-weight: $font-regular, letter-spacing:  -.1px, line-height: 1,    ),
  display3: ( font-size:  56px, font-weight: $font-regular, letter-spacing: -.05px, line-height: 1,    ),
  display2: ( font-size:  45px, font-weight: $font-regular, letter-spacing:    0px, line-height: 48px, ),
  display1: ( font-size:  34px, font-weight: $font-regular, letter-spacing:    0px, line-height: 40px, ),
  headline: ( font-size:  24px, font-weight: $font-regular, letter-spacing:    0px, line-height: 32px, ),
  title:    ( font-size:  20px, font-weight: $font-bold,    letter-spacing:  .05px, line-height: 24px, ),
  subhead:  ( font-size:  16px, font-weight: $font-regular, letter-spacing:   .1px, line-height: 24px, ),
  lead:     ( font-size:  18px, font-weight: $font-light,   letter-spacing:   .1px, line-height: 24px, ),
  body:     ( font-size:  14px, font-weight: $font-regular, letter-spacing:   .1px, line-height: 16px, ),
  caption:  ( font-size:  12px, font-weight: $font-regular, letter-spacing:   .2px, ),
  menu:     ( font-size:  14px, font-weight: $font-bold,    letter-spacing:   .1px, ),
  button:   ( font-size:  14px, font-weight: $font-bold,    letter-spacing:   .1px, line-height: 1, text-transform: uppercase, ),
);

@mixin typography($name) {
  $properties: map-get($typography,$name);
  @include expose-map($properties);
}

@include export-once("typography") {

  @if $include-html-typography-classes {
    .display4 { @include typography(display4); }
    .display3 { @include typography(display3); }
    .display2 { @include typography(display2); }
    .display1 { @include typography(display1); }
    .headline { @include typography(headline); }
    .title    { @include typography(title);    }
    .subhead  { @include typography(subhead);  }
    .lead     { @include typography(lead);     }
    body      { @include typography(body);     }
    .caption  { @include typography(caption);  }
    .menu     { @include typography(menu);     }
    .button   { @include typography(button);   }
  }

}
