= wrap_layout :layout do
  #header
    .content
      #control
      #brand
        .logo VADB
        .desc Visual Arts DataBase
      #search search
      #session user

  #main
    .content
      #aside
        = partial "card/person", locals: { details: true }

      #content
        = yield
