$unit:     8px;
$half:     $unit / 2;  // 4
$unit-1:   $unit * 1;  // 8
$unit-2:   $unit * 2;  // 16
$unit-3:   $unit * 3;  // 24
$unit-4:   $unit * 4;  // 32
$unit-5:   $unit * 5;  // 40
$unit-6:   $unit * 6;  // 48
$unit-7:   $unit * 7;  // 56
$unit-8:   $unit * 8;  // 64
$unit-9:   $unit * 9;  // 72
$unit-10:  $unit * 10; // 80

$gutter-s: $unit-1;
$gutter:   $unit-2;
$gutter-m: $unit-3;
$gutter-l: $unit-4;

$header-size: 72px;
$aside-size:  320px;
$files-size:  380px;

$avatar-small: 56px;
$avatar-large: 144px;

$light:     300;
$normal:    400;
$regular:   $normal;
$semibold:  600;
$medium:    $semibold;
$bold:      700;
$extrabold: 800;
$black:     $extrabold;

$shade-primary:   .87; // Primary Text
$shade-secondary: .60; // Secondary text
$shade-icon :     .54; // Icons
$shade-hint:      .26; // Hint text
$shade-divider:   .10; // Dividers

$shades: (
  primary:   $shade-primary,
  secondary: $shade-secondary,
  icon:      $shade-icon,
  hint:      $shade-hint,
  divider:   $shade-divider,
);
@function shade($name) {
  @return map-get($shades,$name);
}
@function shade-color($color, $shade: primary) {
  @return rgba($color, shade($shade));
}

$primary-color:   shade-color(black,primary);
$secondary-color: shade-color(black,secondary);
$icon-color:      shade-color(black,icon);
$hint-color:      shade-color(black,hint);
$divider-color:   shade-color(black,divider);


