$primary-color:    #1E2D2B;
$accent-color:     #12B398;
$attach-color:     #FD8824;

$darkest-tone:     #292E32;
$darker-tone:      #889BA9;
$dark-tone:        #CCD6DD;
$light-tone:       #E1E8ED;
$lighter-tone:     #F5F8FA;
$lightest-tone:    #FFFFFF;

$include-html-scaffold-styles:   true;
$include-html-utilities-classes: true;
