%h1 Themes

.docs-example
  .docs-example-light.columns.two-columns
    .color-theme.column
      .color-theme-color     100%  <span>$darker-tone</span>
      .color-theme-divider   12%   <span>Dividers</span>
      .color-theme-hint      26%   <span>Disabled/Hint text</span>
      .color-theme-icon      54%   <span>Icons</span>
      .color-theme-secondary 60%   <span>Secondary text</span>
      .color-theme-primary   87%   <span>Text</span>
    .light.column
      %h3 Light theme
      .display1.primary Aenean eu leo quam pellentesque ornare
      .body.secondary Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
      %hr.divider
      %p.hint Etiam porta sem malesuada magna mollis euismod.


.docs-example
  .docs-example-dark.columns.two-columns
    .color-theme.column
      .color-theme-color     100%  <span>$darker-tone</span>
      .color-theme-divider   12%   <span>Dividers</span>
      .color-theme-hint      26%   <span>Disabled/Hint text</span>
      .color-theme-icon      54%   <span>Icons</span>
      .color-theme-secondary 60%   <span>Secondary text</span>
      .color-theme-primary   87%   <span>Text</span>
    .dark.column
      %h3 Dark theme
      .display1.primary Aenean eu leo quam pellentesque ornare
      .body.secondary Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
      %hr.divider
      %p.hint Etiam porta sem malesuada magna mollis euismod.
