
$light-shades: (
  primary:    1,
  secondary: .7,
  icon:      .8,
  hint:      .3,
  divider:   .1,
);


$dark-shade-primary:   .9;
$dark-shade-secondary: .6;
$dark-shade-icon:      .5;
$dark-shade-hint:      .3;
$dark-shade-divider:   .1;




$light-color-primary:   .9;
$light-color-secondary: .6;
$light-color-icon:      .5;
$light-color-hint:      .3;
$light-color-divider:   .1;





